In [1]:
from pylabel import importer
import yaml

/home/ybt7qf/.local/lib/python3.8/site-packages/pandas/core/computation/expressions.py:20: UserWarning: Pandas requires version '2.7.3' or newer of 'numexpr' (version '2.7.1' currently installed).
  from pandas.core.computation.check import NUMEXPR_INSTALLED

In [5]:
path_to_annotations = "/scratch/ybt7qf/ds6050-group1-project/datasets/eurocitypersonsdataset/labels/val-resize/"
path_to_images = "/scratch/ybt7qf/ds6050-group1-project/datasets/eurocitypersonsdataset/images/val-resize/"
path_to_yolo_yaml = "/scratch/ybt7qf/ds6050-group1-project/datasets/eurocitypersonsdataset.yaml"
name = "eurocitypersonsdataset"

In [3]:
with open(path_to_yolo_yaml, 'r') as file:
    content = file.read()
data = yaml.load(content, Loader=yaml.FullLoader)

In [7]:
classes = data['names']
dataset = importer.ImportYoloV5(
    path=path_to_annotations,
    path_to_images=path_to_images,
    cat_names=classes,
    img_ext="png",
    name=name
)

Importing YOLO files...: 100%|██████████| 5036/5036 [00:43<00:00, 114.88it/s]

In [8]:

dataset.df.head()

,img_folder,img_filename,img_path,img_id,img_width,img_height,img_depth,ann_segmented,ann_bbox_xmin,ann_bbox_ymin,...,ann_iscrowd,ann_keypoints,ann_pose,ann_truncated,ann_difficult,cat_id,cat_name,cat_supercategory,split,annotated
id,,,,,,,,,,,,,,,,,,,,,
0,/scratch/ybt7qf/ds6050-group1-project/datasets...,toulouse_00803.png,,0,640,341,3,,215.833333,124.04541,...,,,,,,1,pedestrian,,,1
1,/scratch/ybt7qf/ds6050-group1-project/datasets...,toulouse_00803.png,,0,640,341,3,,213.333333,131.205078,...,,,,,,9,person-group-far-away,,,1
2,/scratch/ybt7qf/ds6050-group1-project/datasets...,zagreb_00837.png,,1,640,341,3,,394.166667,172.165039,...,,,,,,1,pedestrian,,,1
3,/scratch/ybt7qf/ds6050-group1-project/datasets...,zagreb_00837.png,,1,640,341,3,,489.666667,130.539062,...,,,,,,1,pedestrian,,,1
4,/scratch/ybt7qf/ds6050-group1-project/datasets...,zagreb_00837.png,,1,640,341,3,,574.666667,155.514648,...,,,,,,1,pedestrian,,,1

In [9]:
print(f"Number of images: {dataset.analyze.num_images}")
print(f"Number of classes: {dataset.analyze.num_classes}")
print(f"Classes: {dataset.analyze.classes}")
print(f"Class counts:\n{dataset.analyze.class_counts}")

Number of images: 5036
Number of classes: 12
Classes: ['wheelchair-group', 'pedestrian', 'bicycle-group', 'rider+vehicle-group-far-away', 'bicycle', 'rider', 'buggy-group', 'motorbike-group', 'motorbike', 'person-group-far-away', 'scooter-group', 'tricycle-group']
Class counts:
cat_name
pedestrian                      26236
person-group-far-away           11041
bicycle-group                    2592
rider                            2173
scooter-group                    1616
motorbike-group                   640
                                  388
rider+vehicle-group-far-away      288
buggy-group                       157
tricycle-group                      9
bicycle                             8
wheelchair-group                    7
motorbike                           2
Name: count, dtype: int64